body {
  margin: 0;
  /* background-color: black; */
}

#fadePane {
  width: 100vw;
  height: 150vh;
  /* background-color: magenta; */
  position: absolute;
  top: 100vh;
  display: flex;
  align-items: flex-end;
}

#thinking {
  position: absolute;
  left: 0;
  bottom: 0;
}

#test {
  width: 100vw;
  height: 100vh;
  background-color: magenta;
}

.whiteText {
  color: white;
}

#canvas2 {
  position: absolute;
  bottom: 0;
}

/* .scrollContainer.one {
  background-image: url('https://s3.amazonaws.com/amacobrent/spree/products/attachments/6171/product/tp20-sky-blue-square-2048px.jpg?1419289011');
}

.scrollContainer.two {
  background-image: url('https://images.fabric.com/images/400/400/0348615.jpg');
} */


#container1 {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: fixed;
  margin-bottom: 100vh;
}

.topDrop {
  text-align: center;
  position: absolute;
  top: -10rem;
  animation-delay: 1s;
  animation-name: topDrop;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.48, .19, .64, 1.37);
}

.keep-scrolling {
  position: absolute;
  bottom: 5px;
}

.bottomUp {
  text-align: center;
  position: absolute;
  bottom: -5rem;
  animation-delay: 2s;
  animation-name: bottomUp;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  /* animation-timing-function: cubic-bezier(.48, .19, .64, 1.37); */
}

@keyframes topDrop {
  from {top: -5rem}
  to {top: 4rem;}
}

@keyframes bottomUp {
  from {bottom: -5rem}
  to {bottom: 5px;}
}

#container2 {
  /* background-color: rgba(255,255,255,0); */
  background-color: white;
  width: 100vw;
  height: 150vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: absolute;
  top: 250vh;
}

.scrollContainer {
  height: 800px;
  position: relative;
  background-attachment: fixed;
  background-size: 1000px 800px;
  background-position: center;
  background-repeat: no-repeat;
}
